
@{
    ViewBag.Title = "Cadastro";
}

<h3 class="titulo">Cadastro Contabilidade</h3>


<form action="@Url.Action("Store")" method="post" id="needs-validation" novalidate>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Nome</label>
                <input class="form-control" type="text" name="nome" required />
            </div>
            <div class="invalid-feedback">
                Digite um Nome válido
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-outline-success float-right" type="submit">
                <i class="fas fa-pen"></i> Salvar
            </button>
   
        </div>
    </div>
</form>

