
@{
    ViewBag.Title = "Cadastro";
}

<h3 class="titulo">Cadastro Contabilidade</h3>

<script type="text/javascript">
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var form = document.getElementById('needs-validation');
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        }, false);
    })();
</script>

<form action="@Url.Action("Store")" method="post" novalidate>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Nome</label>
                <input class="form-control" type="text" name="nome" required />
            </div>
            <div class="invalid-feedback">
                Digite um Nome válido
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-outline-success float-right" type="submit">
                <i class="fas fa-pen"></i> Salvar
            </button>
   
        </div>
    </div>
</form>

