
@{
    ViewBag.Title = "Editar";
}

<h3 class="titulo">Editar</h3>

<form action="@Url.Action("Update")" method="post">
    <input type="hidden" name="id" value="@ViewBag.Contabilidade.Id" required/>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Nome</label>
                <input type="text" name="nome" value="@ViewBag.Contabilidade.Nome" class="form-control" id="campo-nome" required />
                <div class="invalid-feedback">Digite um Nome Válido</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-success float-right">
                <i class="fas fa-save"></i> Salvar
            </button>
     
        </div>
    </div>
</form>

