
@{
    ViewBag.Title = "Cadastro";
}

<h3 class="titulo">Cadastro de Clientes</h3>


<form action="@Url.Action("Store")" method="post" id="needs-validation" novalidate>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-contabilidade">Contabilidade</label>
                <select id="campo-contabilidade" name="idContabilidade" class="form-control" required>
                    <option disabled="disabled" selected="selected">Selecione um Item</option>

                    @foreach (Model.Contabilidade contabilidade in ViewBag.Contabilidades)
                    {
                        <option value="@contabilidade.Id">@contabilidade.Nome</option>
                    }
                </select>
                <div class="invalid-feedback">Selecione um cliente</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo_nome">Nome</label>
                <input type="text" name="nome" id="campo_nome" class="form-control" aria-describedby="inputGroupPrepend" required/>
                <div class="invalid-feedback">
                    Digite um Nome Válido
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo_cpf">CPF</label>
                <input type="text" name="cpf" id="campo_cpf" class=" cpf form-control" aria-describedby="inputGroupPrepend" required/>
                <div class="invalid-feedback">
                    Digite um Cpf Válido
                </div>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div>
                <button class="btn btn-success float-lg-right"><i class="fas fa-save"></i> Salvar</button>

            </div>
        </div>
    </div>
</form>

