
@{
    ViewBag.Title = "Cadastro";
}

<h3>Cadastro de Clientes</h3>

<form action="@Url.Action("Store")" method="post">

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-contabilidade">Contabilidade</label>
                <select id="campo-contabilidade" name="idContabilidade" class="form-control">
                    <option disabled="disabled" selected="selected">Selecione um Item</option>
                    @foreach (Model.Contabilidade contabilidade in ViewBag.Contabilidades)
                    {
                        <option value="@contabilidade.Id">@contabilidade.Nome</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Nome</label>
                <input type="text" name="nome" id="campo-nome" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-cpf">CPF</label>
                <input type="text" name="cpf" id="campo-cpf" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div>
                <button class="btn btn-success float-lg-right"><i class="fas fa-save"></i> Salvar</button>
            </div>
        </div>
    </div>
</form>
