
@{
    ViewBag.Title = "Cadastro";
}

<h3 class="titulo">Cadastro de Categoria</h3>




<form action="@Url.Action("Store")" method="post" id="needs-validation" novalidate>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Nome</label>
                <input id="campo-nome" type="text" name="nome" class="form-control" required />
                <div class="invalid-feedback"> Digite um Nome válido</div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div>
                    <button class="btn btn-success"><i class="fas fa-save"></i> Salvar</button>             
                </div>
            </div>
        </div>
    </div>

</form>

