
@{
    ViewBag.Title = "Cadastro";
}

<h3>Cadastro de Categoria</h3>

<form action="@Url.Action("Store")" method="post">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Nome</label>
                <input id="campo-nome" type="text" name="nome" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div>
                    <button class="btn btn-success float-right"><i class="fas fa-save"></i> Salvar</button>
                    <ul>
                        <li class="btn"><a class="btn btn-warning mt-1" href="@Url.Action("Index", "Usuario")"><i class="fas fa-undo-alt"></i> Voltar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</form>

