
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Content/css/principal.css" />

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1 class="font-weight-light">PROJETO DE CONTABILIDADE</h1>
            <p class="lead">Com esse site, você poderá administrar sua empresa!</p>
            <div style="height: 750px"></div>
            <p class="lead mb-0">Tenha um ótimo dia!</p>
        </div>
    </div>
</div>

