
@{
    ViewBag.Title = "Cadastro";
}

<h3 class="titulo">Cadastro de Compra</h3>


<form action="@Url.Action("Store")" method="post" id="needs-validation" novalidate>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-cartao-credito">Cartão de Crédito</label>
                <select id="campo-cartao-credio" name="idCartaoCredito" class="form-control" required>
                    <option disabled="disabled" selected="selected">Selecione um cartão de crédito</option>
                    @foreach (Model.CartaoCredito cartaoCredito in ViewBag.CartoesCredito)
                    {
                        <option value="@cartaoCredito.Id">@cartaoCredito.Numero</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">

                <label for="campo-valor">Valor</label>
                <input type="text" name="valor" id="campo-valor" class="form-control" required />
                <div class="invalid-feedback">
                    Digite um Valor Válido
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-data-compra">Data de Compra</label>
                <input type="date" name="dataCompra" id="campo-data-compra" class="form-control" required />
                <div class="invalid-feedback">
                    Selecione uma Data de Compra
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-success float-right"><i class="fas fa-save"></i> Salvar</button>
        </div>
    </div>
</form>



